# Ignore intermediary files
dist/database.json
config.codekit3
*.log

# Ignore images in source directory
/database/*/*.jpg
/database/*/*.JPG
/database/*/*.jpeg
/database/*/*.JPEG
/database/*/*.png
/database/*/*.PNG
