# Remove intermediary files
/dist/database.json
/dist/database.js
*.log

# Ignore WIP files and folders
tmp.*
TODO/
archive/
/config.codekit3

# Ignore images in source directory
/database/*/*.jpg
/database/*/*.JPG
/database/*/*.jpeg
/database/*/*.JPEG
/database/*/*.png
/database/*/*.PNG
