img {
    border-radius: 5%;
    // padding-top: 5px;
    margin-bottom: 20px;
}

.row.br {
    margin-top: 1.5rem;
}

li.cd-unstyled-nav-item {
	list-style-type: none !important;
}

li {
	line-height: normal;
	margin-bottom: 5px;
}

a.unstyled {
	color: black;
}

// @media (min-width: 48em) {
//     .container {
//         max-width: 46rem;
//     }
// }