img {
    border-radius: 5%;
    // padding-top: 5px;
    margin-bottom: 20px;
}

// @media (min-width: 48em) {
//     .container {
//         max-width: 46rem;
//     }
// }

.row.br {
    margin-top: 1.5rem;
}
