.row.br {
    margin-top: 1.5rem;
}

img {
    border-radius: 5%;
    margin-bottom: 20px;
}

h1 {
    margin-top: 20px;
}

a.unstyled {
    color: black !important;
}

span.highlight {
    background-color: yellow;
}

ul {
    margin-bottom: 8px !important;
    margin-top: 0;
    list-style: none;
}
li {
    line-height: normal;
    margin-bottom: 5px;
}
li.cd-unstyled-nav-item {
    list-style-type: none !important;
}

ul li.ingredient:before {
    content: '\2610';
    margin-right: 5px;
}
ul li.ingredient.checked:before {
    content: '\2611';
    margin-right: 5px;
}

ul li ul {
    margin-bottom: 0;
    margin-top: 5px;
}

/*ul input ul {
    margin-bottom: 0;
    margin-top: 5px;
}

input {
    line-height: normal;
    margin-bottom: 5px;
}*/

footer {
    padding-top: 20px;
}

.hide-while-loading {
    display: none;
}

/* Configure Search Input */
#search-area {
    background-color: #FFFFFFF2;
    position: -webkit-sticky;
    position:         sticky;
    top: 0;
    width: 100%;
    z-index: 500;
}

#search-input {
    margin: 20px 0 5px 0;
    width: 90%;
}
@media only screen and (max-width: 1024px) {
    #search-input {
        width: 80%;
    }
}

/* Scroll Indicator */

.progressContainer {
    background-color: #EDEDED;
    bottom: 0;
    content: '';
    display: table;
    height: 0.25em;
    margin-bottom: 0;
    overflow: hidden;
    position: fixed;
    table-layout: fixed;
    width: 100%;
}
.progressBar {
    float: left;
    height: 100%;
    max-width: 100%;
    -webkit-transition: width 0.6s ease;
         -o-transition: width 0.6s ease;
            transition: width 0.6s ease;
    width: 0;
    z-index: 99;
    background-color: #394A81;
}
