.row.br {
    margin-top: 1.5rem;
}

img {
    border-radius: 5%;
    margin-bottom: 20px;
}

h1 {
    margin-top: 20px;
}

a.unstyled {
    color: black !important;
}

ul {
    margin-bottom: 8px !important;
    margin-top: 0;
}

ul li ul {
    margin-bottom: 0;
    margin-top: 5px;
}

li {
    line-height: normal;
    margin-bottom: 5px;
}

li.cd-unstyled-nav-item {
    list-style-type: none !important;
}
